/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: url('key.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    margin-top: 13rem;
    margin-left: 57rem;
    padding: 25px;
    width: 330px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.246);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.text, .key-code, .key-name {
    font-size: 30px;
    color: #000000;
    font-weight: 500;
}


.text {
    font-family: 'Lora', serif;
    font-size: 30px;
    text-align: center;
    pointer-events: none;
}

.box.active .text {
    display: none;
}

.content, .key-code, .details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: none;
    flex-direction: column;
}

.box.active .content {
    display: flex;
}

.content .key-code {
    height: 110px;
    width: 110px;
    background: rgba(255, 255, 255, 0.397);
    border-radius: 0%;
    margin-bottom: 15px;
    pointer-events: none;
    border: 5px solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content .details {
    width: 100%;
    margin-top: 15px;
    justify-content: space-evenly;
}

.details p {
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.details p:last-child {
    border-left: 1px solid #bfbfbf;
}

@media only screen and (max-width: 600px) {

    .box{
        margin-left: 1rem;
        margin-top: -2rem;
    }

}